@media screen and (min-width: 428px) {
    .container {
        max-width: 428px;
        margin-left: auto;
        margin-right: auto;
    }

    .menu-open-icon {
        display: inline-block;
        width: 32px;
        height: 22px;
        padding: 0;
    }

    .main-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
        
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .menu {
        margin-left: 76px;
        display: flex;
        align-items: center;
    }

    .mobile-menu-open {
        display: none;
    }
    .page-nav {
    display: flex;
    align-items: center;
    }
    .main-logo {
    display: flex;
}
    .logo {
        margin-right: 120px;
    }
    .menu .menu-item + .menu-item {
    margin-left: 40px;
    }
    .menu-item .menu-link {
        display: block;
        position: relative;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--navy-blue-color);
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0ms;
    }
    .menu-link:hover,
    .menu-link:focus {
    color: var(--ocean-color); 
    }
    .studio-line::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    left: 0;
    bottom: 0;
    
    background-color: var(--ocean-color);
    transition: current-color;
    }
    .main-address {
    font-style: normal;
    margin-left: auto;
    }
    .main-address .main-address-list .link {
    color: var(--slate-color);
    }
    .main-address-item {
    color: var(--slate-color);
    }
    .contact.link {
    padding: 24px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.04em;
    color: var(--slate-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
    }
    .contact.link:hover,
    .contact.link:focus {
    color: var(--ocean-color);
    }

}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }
        .contact.link {
            padding: 24px 0;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--slate-color);
            transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-delay: 0ms;
        }
    .logo {
        margin-right: 76px;
    }

        .main-address-list {
        display: flex;
    }
        .main-address-list .main-address-item + .main-address-item {
        margin-left: 40px;
    }
}

@media screen and (max-width: 767px) {
    .menu {
        display: none;
    }

    .main-address {
        display: none;
    }

    .page-header {
        padding-top: 24px;
        padding-bottom: 24px;
    }
        .mobile-menu-open {
            background-color: transparent;
            padding: 0;
            height: 22px;
        }
}


/* ======= Section Hero ======= */

@media screen and (max-width: 767px) {
    .hero.section {
        max-width: 767px;
        height: 432px;
        margin-left: auto;
        margin-right: auto;
        background-image: var(--gradient-hero), url(../images/hero-background-mob.jpg);
        background-color: var(--grey-color);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 112px 0;
    }
    .hero .container {
        text-align: center;
    }
        .main-title {
        margin-bottom: 72px;
        font-weight: 700;
        font-size: 36px;
        line-height: calc(40 / 36);
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--white-color);
    }
        .modal-btn {
            display: inline-block;
            padding: 16px 32px;
            min-width: 169px;
            height: 56px;
            text-align: center;
            background: var(--iris-color);
            border-radius: 4px;
            font-family: "Roboto", sans-serif;
            font-family: inherit;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            cursor: pointer;
            color: var(--white-color);
            transition-property: color;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 250ms;
            transition-delay: 0ms;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        }
    
        .modal-btn:hover,
        .modal-btn:focus {
            color: var(--white-color);
            background-color: var(--ocean-color);
        }
}
@media screen and (min-width: 768px) {
    .hero.section {
            max-width: 1199px;
            height: 436px;
            margin-left: auto;
            margin-right: auto;
            background-image: var(--gradient-hero), url(../images/hero-background-tablet.jpg);
            background-color: var(--grey-color);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding: 112px 0;
        }
    
        .hero .container {
            text-align: center;
        }
        .main-title {
            margin-bottom: 36px;
            font-weight: 700;
            font-size: 56px;
            line-height: calc(60 / 56);
            text-align: center;
            letter-spacing: 0.02em;
            color: var(--white-color);
    }
        .modal-btn {
            display: inline-block;
            padding: 16px 32px;
            min-width: 169px;
            height: 56px;
            text-align: center;
            background: var(--iris-color);
            border-radius: 4px;
            font-family: "Roboto", sans-serif;
            font-family: inherit;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            cursor: pointer;
            color: var(--white-color);
            transition-property: color;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 250ms;
            transition-delay: 0ms;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        }
    
        .modal-btn:hover,
        .modal-btn:focus {
            color: var(--white-color);
            background-color: var(--ocean-color);
        }
}

@media screen and (min-width: 1158px) {
    
    .hero.section {
    max-width: 1440px;
    height: 600px;
    padding: 188px 0;
}
.main-title {
    margin-bottom: 48px;
}
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
        .hero.section {
            background-image: var(--gradient-hero), url(../images/hero-background-mob@2x.jpg);
        }    
}
@media screen and (min-width: 768px) {
    .hero.section {
        background-image: var(--gradient-hero), url(../images/hero-background-tablet@1x.jpg);
    }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero.section {
        background-image: var(--gradient-hero), url(../images/hero-background-tablet@2x.jpg);
    }
}
@media screen and (min-width: 1158px){
    .hero.section {
        background-image: var(--gradient-hero), url(../images/hero-background-desctop.jpg);
    }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
screen and (min-resolution: 192dpi) and (min-width: 1158px),
screen and (min-resolution: 2dppx) and (min-width: 1158px) {
    .hero.section {
        background-image: var(--gradient-hero), url(../images/hero-background-desctop@2x.jpg);
    }
}

/* ======= Section 2 features ======= */
@media screen and (max-width: 767px) {
    .section {
        padding: 96px 0px;
    }
    .container {
        max-width: 767px;
        margin: 0 auto;
        padding: 0px 16px;
    }
    .feature-icon {
        display: none;
    }
    .features-list {
        display: block;
    }
    /* .features-list-item {
        min-width: 396px;
    } */
        .features-list-item:not(:last-child) {
            margin-bottom: 72px;
        }
    .third-title {
        margin-bottom: 8px;
        font-weight: 700;
        font-size: 36px;
        line-height: calc(40 /36);
        letter-spacing: 0.02em;
        text-align: center;
        color: var(--navy-blue-color);
    }
    .feature-description {
        color: var(--slate-color);
    }
    
}

@media screen and (min-width: 768px)  and (max-width: 1157px) {
    .feature-icon {
        display: none;
    }
    .section {
        padding: 96px 0px;
    }
    .container {
        min-width: 768px;
        margin: 0 auto;
        padding: 0px 16px;
    }
    .features-list {
        display: flex;
        flex-wrap: wrap;
        gap: 0 24px;
    }
    .mob-features {
        display: flex;
    }
        .features-list-item {
            max-width: 356px;
        }
    .features-list-item:not(:last-child) {
        margin-bottom: 0;
    }
        .features-list-item:nth-child(-n+2) {
            margin-bottom: 72px;
        }
}

@media screen and (min-width: 1158px) {
    .features-list {
            display: flex;
        }
    .features-list-item {
        width: 264px;
    }
    .section {
        padding: 120px 0px;        }
    .third-title {
        font-weight: 500;
        font-size: 20px;
        line-height: calc(24 /20);
        letter-spacing: 0.02em;
        text-align: center;
        color: var(--navy-blue-color);
    }
    .feature-item-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 264;
        height: 112px;
        margin-bottom: 8px;
        background: var(--cloud-color);
        border-radius: 4px;
        background-position: center;
    }
    .feature-icon {
    max-width: 64px;
    height: 64px;
    }
    .features-list-item:not(:last-child) {
    margin-right: 24px;
    }
    .features-list-item:not(:last-child) {
        margin-right: 24px;
    }
}

/* ======= Section 3 developments ======= */
@media screen and (max-width: 1157px) {
    .main-developments {
        display: none;
    }
}

@media screen and (min-width: 1158px) {
    .main-developments {
            padding-top: 0px;
        }
    
        .developments {
            margin-bottom: 72px;
            font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: var(--grey-color);
        }
    
        .developments-list {
            display: flex;
            flex-wrap: wrap;
        }
    
        .developments-list-item {
            width: calc((100% - 24px * 2) / 3);
            margin-right: 24px;
        }
    
        .developments-list-item:nth-child(3n) {
            margin-right: 0;
        }
    
        .developments-list-item:nth-last-child(-n+3) {
            margin-bottom: 0;
        }
}

/* ======= Section 4 team ======= */

@media screen and (max-width: 767px) {
    .section {
        padding: 96px 0px;
    }
    .container {
        max-width: 767px;
        margin: 0 auto;
        padding: 0px 16px;
    }
    .main-team section {
        padding-top: 0;
    }
    .main-team {
        background-color: var(--cloud-color);
    }
    .team-workers {
        margin-bottom: 72px;
        font-weight: 700;
        font-size: 36px;
        line-height: calc(40 / 36);
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--navy-blue-color);
    }
    .team-workers-list {
        display: block;
    }
    .team-workers-item {
        width: 264px;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--white-color);
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
    }
    .workers-description {
        text-align: center;
        padding: 32px 16px;
    }
    .worker {
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--navy-blue-color);
    }
    .worker-position {
        margin-bottom: 8px;
    }
    .media-list {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 232px;
        height: 40px;
        padding: 0;
        margin: 0;
        gap: 24px;
    }
    .media-item {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .media-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--iris-color);
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0ms;
    }
    .media-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: 16px;
        fill: var(--cloud-color);
    }
    .media-link:hover,
    .media-link:focus {
        background-color: var(--ocean-color);
    }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .team-workers-item:nth-child(2n) {
            margin-right: 0;
        }
}
@media screen and (min-width: 768px) {
    .main-team section {
        padding-top: 0;
    }
    .main-team {
        background-color: var(--cloud-color);
    }
    .team-workers {
        margin-bottom: 72px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--navy-blue-color);
    }
    .team-workers-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .team-workers-item {
        width: 264px;
        margin-right: 24px;
        margin-bottom: 64px;
        background-color: var(--white-color);
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
    }
    
    .team-workers-item:nth-last-child(-n+2) {
        margin-bottom: 0;
    }
    .workers-description {
        text-align: center;
        padding: 32px 16px;
    }
    .worker {
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--navy-blue-color);
    }
    .worker-position {
        margin-bottom: 8px;
    }
    .media-list {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 232px;
        height: 40px;
        padding: 0;
        margin: 0;
        gap: 24px;
    }
    .media-item {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .media-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--iris-color);
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0ms;
    }
    .media-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: 16px;
        fill: var(--cloud-color);
    }
    .media-link:hover,
    .media-link:focus {
        background-color: var(--ocean-color);
    }
}
@media screen and (min-width: 1158px) {
    .team-workers-item {
    width: calc((100% - 24px * 3) / 4);
    margin-right: 24px;
    margin-bottom: 0;
    
}
    .team-workers-item:nth-child(4n) {
        margin-right: 0;
    }   
    .team-workers-item:nth-last-child(-n+4) {
        margin-bottom: 0;
    }
    .team-workers-list {
    display: flex;
    flex-wrap: wrap;
}
}
/* ======= Section 5 customers  ======= */
@media screen and (max-width: 767px) {
    .section {
        padding: 96px 0px;
    }

    .container {
        max-width: 767px;
        margin: 0 auto;
        padding: 0px 16px;
    }
    .customers-title {
        margin-bottom: 72px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--grey-color);
    }
    .customers-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 72px 16px;
}
    .client-logo-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 190px;
        height: 88px;
    }
    .client-logo-link {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        width: 190px;
        height: 88px;
        border: 1px solid var(--light-slate-color);
        border-radius: 4px;
        background-repeat: no-repeat;
        background-position: center;
        fill: var(--light-slate-color);
        transition-property: border, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0ms;
    }
    .client-logo-link:hover,
    .client-logo-link:focus {
        border: 1px solid var(--ocean-color);
        fill: var(--ocean-color);
    }
    .client-logo-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 110px;
        max-height: 56px;
    }
}

@media screen and (min-width: 768px) {
    .customers-title {
        margin-bottom: 72px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--grey-color);
    }
        .customers-icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 72px 24px;
    }
    .client-logo-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 168px;
        height: 88px;
    }
    .client-logo-link {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        width: 168px;
        height: 88px;
        border: 1px solid var(--light-slate-color);
        border-radius: 4px;
        background-repeat: no-repeat;
        background-position: center;
        fill: var(--light-slate-color);
        transition-property: border, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0ms;
    }
    .client-logo-link:hover,
    .client-logo-link:focus {
        border: 1px solid var(--ocean-color);
        fill: var(--ocean-color);
    }
    .client-logo-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 104px;
        max-height: 56px;
    }
}